@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font classes */
.monserrat-regular, html {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.monserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.monserrat-regular-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.monserrat-bold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* minimal palette */

:root {
    --col-1: #3E333F;
    --col-2: #fb0000;
    --col-3: #F0E19E;
    --col-4: #F2F2F2;
    --col-6: #8e8e8e;

    --size-0: 12px;
    --size-1: 14px;
    --size-2: 16px;
    --size-3: 18px;
    --size-4: 20px;
    --size-5: 24px;
    --size-6: 30px;
}

/* minimal settings */

html {
    color: var(--col-1);
}
